@import "tailwindcss";

@theme static {
    --color-dark: $dark;
    --color-main: $main;

    --font-circular: Circular, sans-serif, serif;
}

.base-styles {
    @apply mx-auto max-w-[2560px] bg-dark font-circular text-sm text-white antialiased;
}

@font-face {
    font-family: "circular";
    src: url("/CircularStd-Book.woff2") format("woff2"),
    url("/CircularStd-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --plyr-color-main: $main;
    --plyr-badge-background: $dark;
}

.plyr {
    border-radius: 8px;
}

.plyr--video.plyr--stopped .plyr__controls {
    display: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
}

.scale-up-enter-active {
    transition: all 0.5s ease; /* 500ms = 0.5s */
}

.scale-up-enter-from {
    opacity: 0.001;
    transform: scale(0.98);
}

.scale-up-enter-to {
    opacity: 1;
    transform: scale(1);
}

.slide-in-enter-active {
    transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1); /* quintOut easing */
}

.slide-in-enter-from {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.slide-in-enter-to {
    max-height: 500px; /* Adjust based on your content */
    opacity: 1;
}

.fly-enter-active,
.fly-leave-active {
    transition: all 0.25s ease; /* 250ms = 0.25s */
}

.fly-enter-from {
    transform: translateX(10px);
    opacity: 0.001;
}

.fly-enter-to {
    transform: translateX(0);
    opacity: 1;
}

.fly-leave-from {
    transform: translateX(0);
    opacity: 1;
}

.fly-leave-to {
    transform: translateX(10px);
    opacity: 0.001;
}
